@using demo2025_razor.ViewModels
@using demo2025_razor.ViewModels.PageModels
<!--TODO: import jquery datatable-->
<!--TODO: Write ajax call to update only table partial-->
<!--TODO: Create API servere side to handle data calls-->

@{
    ViewData["Title"] = "Products";
}
@model ProductsPageViewModel

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<label>User: @Model.Customer.FullName</label>
<br />
<label>Role: @Model.Customer.Role</label>

<input type="text" id="txtOne" />

<div id="productsTableContainer">
    @await Html.PartialAsync("~/Views/Home/Products/_ProductsTable.cshtml", Model.Products)
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            initializeDataTable();
            $(document).on('change', '.chkIsActive', onChkChanged);
        });

        function initializeDataTable() {
            $('#myTable').DataTable({
                paging: true,
                destroy: true
            });
        }

        function onChkChanged() {
            var chk = $(this);
            var chkIsChecked = chk.is(':checked');
            const id = chk.data('product-id');

            UpdateActiveStatus(id, chkIsChecked, 4);
        }

        function UpdateActiveStatus(id, isActive, customerId) {
            $.ajax({
                url: '@Url.Action("UpdateActiveStatus", "Home")',
                type: 'POST',
                data: { id: id, isActive: isActive, customerId:customerId },
                success: function (R) {
                    console.log('succeeded');
                    if (R.success == true) {
                        console.log('success');
                        refreshProductsTable();
                    } else if (R.success == false) {
                        console.log('failed: ' + R.message);
                        $('[data-product-id="' + id + '"]').prop('checked', !isActive);
                    }
                },
                error: function (R) {
                    console.log('failed: ' + R.message);
                    $('[data-product-id="' + id + '"]').prop('checked', !isActive);
                }
            });
        }

        function refreshProductsTable() {
            $.ajax({
                url: '@Url.Action("GetProductsTableData", "Home")',
                type: 'GET',
                success: function (data) {
                    $('#productsTableContainer').html(data);
                    initializeDataTable();
                },
                error: function () {
                    console.log('Failed to refresh table data');
                }
            });
        }
    </script>
}



