@using demo2025_razor.ViewModels
<!--TODO: import jquery datatable-->
<!--TODO: Write ajax call to update only table partial-->
<!--TODO: Create API servere side to handle data calls-->

@{
    ViewData["Title"] = "Privacy Policy";
}
@model ProductsPageViewModel




<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<label>User: @Model.Customer.FullName</label>
<br />
<label>
    Role: @Model.Customer.Role
</label>

<input type="text" id="txtOne" />







<table id="myTable">
    <thead>

        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Renter
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    @product.Id
                </td>
                <td>
                    @product.Description
                </td>
                <td>
                    <input type="checkbox"
                           class="chkIsActive"
                           @(product.IsActive ? "checked" : "")
                           data-product-id="@product.Id" />
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                paging: true
            });

            $(document).on('change', '.chkIsActive', function(){
                debugger;
                const chk = $(this);
                const id = chk.data('product-id');
                const isChecked = chk.prop('checked');
                UpdateActiveStatus(id, isChecked);
            });
        });

        function UpdateActiveStatus(id, isActive){
            $.ajax({
                url:'@Url.Action("UpdateActiveStatus", "Home")',
                type:'POST',
                data:{id: id, isActive:isActive},
                success:function(R){
                    console.log('succeeded ');
                    if (R.success==true){
                        console.log('success');
                    }else if (R.success==false){
                        console.log('failed');
                    }
                },
                error:function(R){
                    console.log('failed' + R.message);
                }
            })
        }
    </script>
}



